name: CI - github actions

on:
  pull_request:
    branches: [ develop ]

jobs:
  quality:
    name: Lint & Type Check (${{ matrix.os }}, Python ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Install the project in editable mode with "dev" optional dependencies
          pip install -e ".[dev]"

      - name: Run linters
        env:
          PYTHONPATH: ${{ github.workspace }}/src # Set PYTHONPATH for linters
        run: |
          black --check src/
          flake8 src/

      - name: Type checking
        env:
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          mypy src/
