name: Run Tests

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Check if requirements.txt exists before installing
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          else
            echo "requirements.txt not found. Skipping main dependencies."
          fi
          # Check if requirements-dev.txt exists before installing
          if [ -f requirements-dev.txt ]; then
            pip install -r requirements-dev.txt
          else
            echo "requirements-dev.txt not found. Skipping dev dependencies."
          fi

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}/src
        run: pytest src/topovision/tests/ --maxfail=1 --disable-warnings -q
